@viewport{
    zoom: 1.0;
    zoom: extend-to-zoom;
}

@-ms-viewport{
    zoom: 1.0;
    zoom: extend-to-zoom;
}

.card-container{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2%;
    grid-template-areas:
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . .";
}

header{
    display: none;
}

body {
    background-color: white;
    font-family: Montserrat;
    font-size: medium;
}

.brand {
    white-space: nowrap;
    margin: auto;
    font-family: 'Roboto Mono', monospace;
    padding: 4% 0;
    letter-spacing: .3rem;
    display: inline;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

#brand-logo{
    height: 30px;
    padding-left: 5%;
    margin-bottom: 3%;
}

.brand:hover{
    text-decoration: none;
    color: white;
}

.tab-pane{
    color: black;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    font-family: Montserrat;
}

.navbar{
    background-color: #b0313f;
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav-tabs{
    background-color: #343a40;
    width: 100%;
    border: none;
}

.nav-item{
    text-align: center;
}

.nav-link{
    padding: .5rem;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    display: block;
    letter-spacing: .1rem;
    font-size: large;
}

.show > .container {
    margin: 0;
    padding: 0;
}

.instructions{
    font-size: 1.5rem;
    padding: 3% 1%;
    line-height: 2.5;
}

h2{
    font-weight: 700;
    padding-bottom: 1rem;
}

.exampleCard{
    padding-top: 1rem;
    height: 100px;
    width: 100px;
    display: inline-block;
    font-size: x-large;
    border-radius: 10%;
    text-align: center;
    margin: 5%;
    font-weight: 700;
    color: black;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.3);
}

/* Large devices (laptops/desktops, 768px and up) */
@media only screen and (min-width: 768px) {
    
    body{
        background-color: whitesmoke;
    }
    
    .card-container{
        padding-bottom: 4%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px 20px;
        grid-template-areas:
        ". . . . . . . . . ."
        ". . . . . . . . . ."
        ". . . . . . . . . .";
    }

    header{
        display: block;
        background: url(../img/headerBackground.png);
        background-repeat: round;
    }

    .brand {
        letter-spacing: 5;
        display: block;
        white-space: normal;
        font-size: 3rem;
        padding: 1.5%;
    }

    .navbar{
        background-color: #343a40;
    }

    .nav-item{
        margin: auto;

    }

    #mobile-nav{
        display: none!important;
    }

    .nav-tabs{
        padding: .8%;
        width: 100%
    }

    .nav-link{
        display: inline;
        border-radius: 10%;
        padding: .3rem;
        border-radius: 10%;
    }

    .nav-link:hover{
        background-color: whitesmoke;
        color:  #b0313f!important;
        border: none;
    }

    .nav-link.active{
        color:  black!important;
        background-color: white!important;
        border-bottom: none;
    }

    .tab-pane{
        margin-top: 2%;
        -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.15);
        -moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.15);
        box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.15);
    }

    .instructions{
        font-size: 1.5rem;
        line-height: 4rem;
        padding: 2%;
    }
}

.redBtn{
    background-color: #b0313f;
    border-color:  #b0313f;
    color: white;
}

.btn{
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 .5rem;
}

.row{
    min-height: 2%;
}

.studyBtn:hover{
    background-color: white;
    color: #b0313f;
    border-color:  #b0313f;
}


.kana-character{
    font-size: 1.5em;
}

.kana-cell > .romaji{
    padding-bottom: 2em;
}

.romaji{
    color: gray;
    font-size: .5em;
}

.col{
    border-left: 1px lightgray solid;
    line-height: 1;
}

.col:nth-child(1){
    border-left: none;
}

.form-check-input{
    margin-left: -1%;
}

#info{
    padding: 1%;
}

#score{
    font-weight: 400;
    font-size: x-large;
}

#playInfo{
    display: block;
    text-align: center;
    height: 2rem;
}

#againBtn{
    margin: 3% 0;
}

.card {
    background: url(img/cardBackTransparent.png) no-repeat center;
    padding-top: 50%;
    line-height: 0;
    font-size: large;
    width: 100%;
    border-radius: 10%;
    text-align: center;
    font-weight: 700;
    border: none;
    border: 4px solid white; 
    color: black;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.5);
}

.card:after {
    content: "";
    display: block;
    padding-bottom: 50%;
  }


.cardBack{
    background: url(../img/goldBack.png) no-repeat center;
    color: transparent;
    background-color: #343a40;
    background-size: 95%;
    -webkit-transition: all .7s linear;
    -ms-transition: all .7s linear;
    transition: all .7s ease-in;
    transition-delay: 1.5s;
}

.navbar{
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.removed{
    color: transparent;
    background: transparent;
    background-image: none;
    box-shadow: none;
    transition-delay: .5s;
}